.orgCell {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title a {
  margin-bottom: 2%;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.title a:hover {
    color: #000;
}

.dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
