* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
#home::before  {
    content: '';
    background-image: url('./assets/holding-tomato.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.nav {
    position: relative;
    z-index: 1;
}
.home-container {
    position: relative;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.title h1 {
    font-weight: bold;
    margin: 0 auto;
}
